* {
	background: rgba(0, 0, 0, .1);
}
body, #parent, .child {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
body {
	background: rgba(0, 0, 250, .1);
	font-weight: bold;
	color: aliceblue;
	border: solid 1px black;
}
#parent, #letterbox {
	width: 700px;
	height: 400px;
	margin: 200px 0;
	background: rgba(0, 0, 250, .1);
	padding: 50px;
	flex-wrap: wrap;
	border: solid 1px aliceblue;
}
.child {
	width: 24px;
	height: 24px;
	border: aliceblue 1px solid;
	background: rgba(0, 0, 250, .1);
	padding: 15px;
}
.child:nth-child(2n) {
	color: black;
	border: black 1px solid;
	margin: 0 15px;
}
#letterbox{height: 200px; margin:0 auto; border: solid 1px black;}
